
*.pdf
/data*
*.pyc
notebooks/0_eda/.ipynb_checkpoints/*
notebooks/1_preprocessing/.ipynb_checkpoints/*
notebooks/2_modelling/.ipynb_checkpoints/*
notebooks/3_evaluation/.ipynb_checkpoints/*
notebooks/4_visualizations/.ipynb_checkpoints/*
notebooks/5_miscellaneous/.ipynb_checkpoints/*

*.pyc
